body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header {
	text-align: center;
	width: 100%;
	background: silver;
}
.table,
.month {
	margin: 2px 2px 0 2px;
	/*border: 1px solid grey;*/
	background-color: #ffeb3b;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.view_detail,
.month_name,
.salary,
.swallow {
	border-radius: 5px;
	margin: 3px;
}
.salary,
.swallow {
	background: white;
}
.month_name,
.view_detail {
	width: 100%;
	text-align: center;
}
.td1, .td3 {
	width: 92px;
}
