{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('posting') }}
{% endblock %}

{% block body %}
    <header>
        {% if backUrl is not null %}
            <a href="{{ backUrl }}">Назад</a>
        {% endif %}
        <a href="{{ path('app_logout') }}">Выход</a>
    </header>
    <main>
        {% block posting_content %}{% endblock %}
    </main>
{% endblock %}
