body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.field-name,
.field-password {
    label {
        display: inline-block;
        min-width: 55px;
    }
}

.error,
.btn-submit,
.field-password {
    margin-top: 15px;
}

.btn-submit {
    display: flex;
    justify-content: center;
}

.error {
    background: red;
}
