@import "common-variable";

$header-height: 30px;
$header-height-mobile: 39px;
$posting-header-height: 30px;

:root {
    --month-background: lightsteelblue;
    --sum-background-color: #fff;

    --header-top-background: silver;
    --box-shadow-header: #00000070;

    --posting-item-bg-color: #f0fff0;
    --posting-item-odd-bg-color: #d3d3d3;

    --posting-header-bg: var(--page-background);
    --posting-list-header-bg-color: #b9ddb9;
}

body.dark {
    --month-background: #364558;
    --sum-background-color: #626277;

    --header-top-background: #1e2125;
    --box-shadow-header: #00000070;

    --posting-item-bg-color: #4d4d4d;
    --posting-item-odd-bg-color: #686868;

    --posting-header-bg: var(--header-top-background);
    --posting-list-header-bg-color: #5b715b;
}

header {
    height: $header-height-mobile;
    @media (min-width: $screen-size-phone) {
        height: $header-height;
    }
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--header-top-background);
    position: fixed;
    box-shadow: 0 3px 5px var(--box-shadow-header);

    a {
        padding: 5px;
    }
}

main {
    margin-top: $header-height-mobile;
    @media (min-width: $screen-size-phone) {
        margin-top: $header-height;
    }

    min-width: 320px;
    max-width: 440px;
    width: 100%;
}

.posting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posting-header {
    height: $posting-header-height;
    position: fixed;
    max-width: inherit;
    width: 100%;
    background-color: var(--posting-header-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 5px var(--box-shadow-header);
}

.posting-header ~ .posting-container {
    margin-top: $posting-header-height;
}


.list {
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 3px;
        background-color: var(--month-background);
        border-radius: 2px;
    }

    .name,
    .action {
        padding: 4px;
    }

    .sum {
        min-width: 100px;
        padding: 3px;
        text-align: center;
        background-color: var(--sum-background-color);
    }
}

.additional-action {
    margin-top: 20px;
    div {
        margin-bottom: 20px;
        text-align: center;
    }
}

.wrapper-form-add-payment {
    min-width: 100%;
    padding: 5px;
    border: 1px silver solid;
    margin: 5px 0;
    box-sizing: border-box;

    .btn-toggle {
        width: 100%;
        background: unset;
        cursor: pointer;

        display: flex;
        justify-content: space-between;

        padding: 10px;
    }

    .form-container {
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid silver;
    }

    .collapsed {
        display: none;
    }

    #posting_form {
        display: flex;
        flex-wrap: wrap;
    }

    .field-money,
    .field-type {
        width: calc(100%/3);
    }

    .field-date-operation {
        width: calc((100%/3) - 6px);
        margin: 0 3px;
    }

    .field-comment {
        margin: 3px 0;
        width: 100%;
    }

    .field-btn-save {
        width: 100%;
        text-align: center;
    }

    select,
    input,
    textarea {
        box-sizing: border-box;
        width: 100%;
    }

    select,
    input {
        height: 40px;
    }
}

.wrapper-posting-list {
    width: 100%;

    .posting-list-header,
    .posting-info {
        display: flex;
        flex-direction: row;
        text-align: center;

        div {
            width: calc(100%/3);
        }
    }

    .posting-list-header,
    .posting-item {
        padding: 3px;
    }

    .posting-list-header {
        background-color: var(--posting-list-header-bg-color);
    }

    .posting-item {
        background-color: var(--posting-item-bg-color);

        &:nth-child(odd) {
            background-color: var(--posting-item-odd-bg-color);
        }
    }

    .posting-comment {
        span {
            margin-left: 3px;
        }
    }
}
