body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  width: 100%;
  background: silver;
}

header a {
  padding: 5px;
}

.month,
.payment-add {
  max-width: 320px;
}


.month {
  margin: 2px 2px 0 2px;
  /*border: 1px solid grey;*/
  background-color: lightsteelblue;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.today {
  background: darkseagreen;
}

.view-detail,
.month-name,
.salary,
.swallow {
  border-radius: 5px;
  margin: 3px;
}

.salary,
.swallow {
  background: white;
}

.link-to-add,
.month-name,
.view-detail {
  width: 100%;
  text-align: center;
}

.td1, .td3 {
  width: 92px;
}

/* Возможно следущие два класса лишние */

.table {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2px;
  text-align: center;
}

.table [type='number'] {
  width: 60px;
}

.payment-add {
  margin: 0 2px;
  border-radius: 5px;
  background: powderblue;
  padding-bottom: 5px;
}

.payment-list {
  background: honeydew;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.payment-list > .table {
  background: silver;
}

.payment-list .payment:nth-child(2n) {
  background: lightgrey;
}

.payment {
  margin-top: 1px;
  border-radius: 5px;
  border: 1px solid silver;
}

.comment {
  border-top-style: dashed;
  border-top-width: 1px;
  border-top-color: lightslategray;
  display: flex;
}

.link-to-add {
  margin-top: 10%;
}

.link-to-add a {
  display: block;
  box-shadow: 0 0 10px silver;
  text-decoration: none;
  border-radius: 2px;
  background: silver;
  padding: 5px;
}

.link-to-add a:hover {
  box-shadow: none;
}

.hide {
  display: none;
}

.button-for-view-if-zero {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .button-for-view-if-zero button {
    padding: 10px;
  }
}

@media screen and (max-width: 520px) {
  header a {
    font-size: xx-large;
  }
  .link-to-add a,
  .view-detail a {
    font-size: x-large;
  }
}
