body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
content {
	display: flex;
	flex-direction: column;
}
header {
	text-align: center;
	width: 100%;
	background: silver;
}
header a {
	padding: 5px;
}
.month,
.paymentAdd {
	max-width: 320px;
}


.month {
	margin: 2px 2px 0 2px;
	/*border: 1px solid grey;*/
	background-color: lightsteelblue;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.today {
	background: darkseagreen;
}
.view_detail,
.month_name,
.salary,
.swallow {
	border-radius: 5px;
	margin: 3px;
}
.salary,
.swallow {
	background: white;
}
.link_to_add,
.month_name,
.view_detail {
	width: 100%;
	text-align: center;
}
.td1, .td3 {
	width: 92px;
}
/* Возможно следущие два класса лишние */

.table {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 2px;
	text-align: center;
}
.table [type='number'] {
	width: 60px;
}

.paymentAdd {
	margin: 0 2px;
	border-radius: 5px;
	background: powderblue;
	padding-bottom: 5px;
}
.paymentList {
	background: honeydew;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.paymentList>.table{
	background: silver;
}
.paymentList .payment:nth-child(2n) {
	background: lightgrey;
}
.payment {
	margin-top: 1px;
	border-radius: 5px;
	border: 1px solid silver;
}
.comment {
	border-top-style: dashed;
	border-top-width: 1px;
	border-top-color: lightslategray;
	display: flex;
}

.link_to_add {
	margin-top: 10%;
}
.link_to_add a {
	display: block;
	box-shadow: 0 0 10px silver;
	text-decoration: none;
	border-radius: 2px;
	background: silver;
	padding: 5px;
}
.link_to_add a:hover {
	box-shadow: none;
}

@media screen and (max-width: 320px){
	header a {
		font-size: xx-large;
	}
	.link_to_add a,
	.view_detail a {
		font-size: x-large;
	}
}