<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32">
    <link rel="manifest" href="/manifest.json">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('common') }}
    {% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<footer>
    <div>
        <button id="toggle-theme">toggle</button>
    </div>
    <script>
        if (null !== localStorage.getItem('reg-theme')) {
            document.body.classList.add('dark');
        }

        document.querySelector('#toggle-theme').addEventListener('click', () => {
            if (document.body.classList.toggle('dark')) {
                localStorage.setItem('reg-theme', 'dark');
            } else {
                localStorage.removeItem('reg-theme');
            }
        })
    </script>
</footer>
</body>
</html>
